@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="mb-4 text-primary">Welcome!</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="d-grid gap-3">
                <a class="btn btn-outline-primary btn-lg" asp-controller="Menu" asp-action="Index">
                     View Menu
                </a>
                <a class="btn btn-outline-primary btn-lg" asp-controller="Admin" asp-action="Add">
                    Add New Dish
                </a>
                <a class="btn btn-success btn-lg" asp-controller="Admin" asp-action="AddIngrediant">
                    Add New Ingredient
                </a>
                <a class="btn btn-success btn-lg" asp-controller="Admin" asp-action="AssignIngredientsToDish">
                    Assign Ingredients to Dish
                </a>
            </div>
        </div>
    </div>
</div>
