@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-image">
    <div class="text-center text-white">
        <h1>Welcome to Our Restaurant</h1>
        <a class="btn btn-outline-light mt-3 px-4 py-2" asp-controller="Menu" asp-action="Index">View Menu</a>
    </div>
</div>
